<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.songdongze.mycontacts_test"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
      <provider android:name="com.songdongze.mycontacts_test.ContactsProvider" android:authorities="com.songdongze.mycontacts_test.provider.ContactsProvider" android:exported="true" />
       
        <activity
            android:name="com.songdongze.mycontacts_test.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.songdongze.mycontacts_test.ContactView"
            android:label="@string/contactview" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.songdongze.mycontacts_test.category.ContactView" />
                <data android:mimeType="vnd.android.cursor.item/vnd.songdongze.mycontacts_test" />
            </intent-filter>           
        </activity>
        <activity android:name="com.songdongze.mycontacts_test.ContactEdit"
            android:label="@string/contactedit" >
            <intent-filter >
                <action android:name="android.intent.action.INSERT" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.songdongze.mycontacts_test.category.ContactInsert" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.songdongze.mycontacts_test" />
            </intent-filter>
            <intent-filter >
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.songdongze.mycontacts_test.category.ContactEdit" />
                <data android:mimeType="vnd.android.cursor.item/vnd.songdongze.mycontacts_test" />
            </intent-filter>           
        </activity>
    </application>

</manifest>
